.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#container{
	height:1000px;
}

.randomfactbtn:hover{
	background-color:blue;
}

#header{
	height:200px;
	margin-left:10px;
	margin-right:10px;
	background-color:yellow;
	width:auto;
}

.facttext{
	margin-top:0;
    background-color:red;
    height:100px;
}

.factbox{
    height:150px;
    width:90%;
    background-color:black;
	margin:auto;
    position:relative;
}

.sitebuttons{
    font-size:12px;
    margin:auto;
    text-align:center;
    box-shadow:10px 10px 30px 8px #000000;
}

.btncontainer{
    text-align:center;
    display:grid;
    height:35px;
}

.infoframe{
	background-color:grey;
	width:20%;
	border:2px blue;
	margin-left:10px;
	height:200px;
	float:left;
}

.imgcontainer{
	height:auto;
}

.images{
	max-height:100%;
	max-width:100%;
}


@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
