@media only screen and (max-width : 600px){
    p{
        font-size:1rem;
    }
    h1{
        font-size:1rem;
    }
    h2{
        font-size:1rem;
    }
    body{
        background-color:blue
    }
}

@media only screen and(max-width:1200px){
    body
}








body{
    margin: 0;
    font-size:18px;
    font-family: 'Lato', sans-serif;
}

p{
    font-color:blue;
    margin-left:10px;
}

h1{
    font-size:2.2rem;
}

h2{
    font-size:1.2rem;
    margin-left:10px
}

button{
    background-color:blue;
    border:solid 2px black;
    padding:5px;
    margin:10px 10px 10px 10px;
}

header{
    height:150px;
    background-color:red;
    padding: 45px 0;
    text-align:center;
}

img{
    width:100%;
    margin:auto;
    min-height:"350px";
}

.container{
    border:2px solid magenta;
    margin-left:2%;
    margin-right:2%;
}

.innercontainer{
    margin:0 auto;
    border: 2px solid magenta;
}
   
#randomtextbox{
    height:350px;
    padding:5px;
}


.headertext{
    width:96%;
    min-width:250px;
}

.randominfo{
    float:left;
    height:310px;
    border:2px solid red;
}

.infosection{
    padding:25px 0;
}


.randomfactgenerator{
    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.imgcontainer{
    text-align:center;
    float:left;
    min-height:110px;
    max-height:500px;
    border:2px solid blue;
}










