@media screen and (max-width: 100px){
}
@media screen and (max-width: 544px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 992px){
}
@media screen and (max-width: 1200px){
}
.profilepic{
    float:left;
    margin:5px 0px 10px 5px;
}

.descbox{
	background: rgb(244,244,244,1);
    margin:10px 0px 0px 0px;
    min-height:110px;
	border-radius:10px;
	border:1px solid black;
}

.profiledesc{
    margin:10px 0px 0px 120px;
}
