@media screen and (max-width: 100px){
}
@media screen and (max-width: 544px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 992px){
}
@media screen and (max-width: 1200px){
}
.profilepic{
    float:left;
    margin:5px 0px 10px 5px;
}

.descbox{
	background: rgb(255, 255, 255,1);
    margin:10px 0px 0px 0px;
    min-height:110px;
    box-shadow: 5px 10px 20px black;
    padding-bottom: 10px;
}

.profiledesc{
    margin:10px 0px 0px 120px;
}
