div {
	font-size-adjust: 0.4;
  }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum/static/Cuprum-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/static/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: "Castoro";
    src: url("../fonts/Castoro/Castoro-Regular.ttf");
}


html{
	min-height:100vh;
	position: relative;
	background-color: white;
}
body{
	/*background:url("../img/jaritaikatausta.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
		background-color: #85144b;
	*/
	background: rgb(247,45,45);
	background: linear-gradient(150deg, rgba(247,45,45,1) 0%, rgba(32,214,251,1) 100%);
	background-size:400% 400%;
	min-height:100vh;
	padding-bottom: 60px;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

	 /*background: rgb(2,0,36);*/
	/*background: linear-gradient(212deg, rgba(2,0,36,1) 0%, rgba(139,13,17,1) 100%); */
}
#navigationbar{
	background: rgb(0,255,255,1);
}

@media screen and (min-width: 100px){
	.contentdivheader{font-size: 1.2rem;}
	.navigationbar {height : 400px;}
	.navbarimg{height:50px;
				text-align:left;
			}
}

@media screen and (min-width: 544px){
	.navbarlabels{font-size: 1.4rem;}
	.contentdivheader{font-size: 1.4rem;}
	.navbarimg{height:50px;}
}
@media screen and (min-width: 768px){
	.navbarlabels{font-size: 1.4rem;}
	.contentdivheader{font-size: 2.2rem;}
	.navbarimg{height:40px;}
	body{
		border-left:5rem solid white;
		border-right:5rem  solid white;
		border-bottom:2rem solid white;
		}
}

@media screen and (min-width: 992px){
	.navbar-nav{
		margin-left: -1em;
	}
	#collapsedlogo{
		display:none;
}
	.navbarimg{height:50px;}
	body{
	border-left:10rem solid white;
	border-right:10rem  solid white;
	border-bottom:2rem solid white;
	}

}
@media screen and (min-width: 1200px){

	.navbarimg{height:60px;}	
	body{
		border-left:15rem solid white;
		border-right:15rem  solid white;
		border-bottom:2rem solid white;
		}
}

@media screen and (max-width:991px){
	.navbandlogo{
		max-height:50px;
		position: absolute;
		top:5px;
		left:5px;
	}

	.navbar-nav{
		background: rgb(247,45,45);
		background: linear-gradient(150deg, rgba(247,45,45,1) 0%, rgba(32,214,251,1) 100%);
		background-size:400% 400%;
		animation: gradient 30s ease infinite;
		width:100%;
	}
	.navbar-nav > li{
		margin-left:20px;
	}

}

.navbarlabels{
	font-family: 'Oswald', sans-serif;

}

#headerimg{
	margin-top:10px;
	margin-bottom:10px;
	box-shadow: 0px 10px 25px black;
}

.navbar{
	background-color: white;
}

.navbar-nav > .nav-item > .nav-link{
	color:black;
}


.navbar-nav > .nav-item > .nav-link:hover{
	color:rgba(139,13,17,1);
}

.navbar-toggler-icon{
	background-color: #85144b;
	border-radius: 2px;
	height:2em;
	width:2em;
}
.contentdiv{ 
	border-radius: 5px;
	color: black;
	font-family: 'Castoro', sans-serif;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}
.contentdivheader{
	font-family: 'Cabin', sans-serif;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-top:5px;
}
#stickyfooter{
	background-color: white;
	bottom:0;
	left:0;
	position: absolute;
	width: 100%;
}
#footertext{
	color:black;
}

.footerimgs
{
	max-height:42px;
	margin:4px;
}

.navbandlogo{
	max-height:50px;
}

#mainnav{
	border:5px solid black;
}
