.imageslider{
    margin:0 auto;
    width:650px;
}
.carousel{
    height:100vh;
    width:700px;
}
.item{
    position: relative;
    height: 100%;
}
.carousel > .item > img {
    max-width: 640;
    height:auto;
    vertical-align: center;
  }

  .carousel-inner img {
    margin: auto;
    max-height:640px;
    width:auto;
    background-position: center center;
  }

  .carousel-item{
      margin-top: 100px;
  }