@media screen and (max-width: 722px){
    .spaces{font-size:0.4rem;}
    .musicbuttons{font-size: 1.0rem;}
}

.musicbuttons{
    font-weight:bold;
    background-color: red;
}

.musicbuttons:hover{
    font-size:1.4rem;
    cursor: pointer;
}

#popmusiccontainer{

}

#dancemusiccontainer{

}

.showcontainer{
    display:none;
    background-color: red;
    margin:0 auto;
}

.showtable{
    border:1px solid black;
}

.tabledesc{
    text-align: center;
    border:1px solid black;
}
