@media screen and (max-width: 767px){
    .musicbuttons{font-size: 1.0rem;}
    .spaces{
        display: none;
    }
    tr{
        margin-left: 150px;
    }
    .musicbuttons:hover{
        font-size: 1rem;
        cursor: pointer;
    }
    .buttoncontainers{
        width: 30px;
    }
    .dashes{
        display: none;
    }
}

@media screen and (min-width:767px){
    .musicbuttons:hover{
        font-size:1.2rem;
        cursor: pointer;
        
    }
}

@media screen and (max-width:1110px){
    body{
        border-left: 10em;
        border-right: 10em;
    }
}

.musicbuttons{
    font-weight:bold;
    display:inline-block;
}

.musicchoose{
    margin:0px auto 20px;
}

.showcontainer{
    display:none;
    margin:0px 0px 20px 0px;
}
.con{
    display: inline-table;
    margin-bottom: 20px;
}

.showtable{
    background-color: white;
}

.tabledesc{
    text-align: center;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
}

.songnumbers{
    min-width:2rem;
}

td{
    font-family: 'Cabin', sans-serif;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.musicchoose{
    margin-left: -10px;
}