.musicbuttons{
    font-size: 1.2rem;
    margin:10px 10px 10px 10px;
    font-weight:bold;
}

.musicbuttons:hover{
    font-size:1.4rem;
    cursor: pointer;
}

#popmusiccontainer{

}

#dancemusiccontainer{

}

.showcontainer{
    display:none;
}